html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}
 
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#section1 { background-color: #000000; 
            background-image: url(imagens/vYJvXqZ_d.webp);
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            }
#section2 { background-image: linear-gradient(to right, #F2B705, #033E8C);
            height: 90vh; }


#section3 { 
    
             background-image:linear-gradient(to right, #023E73, #0f4c9bbd); 
             height: 100vh; }

#section4 { background-image:linear-gradient(to right, #023C6E, #F2B705); 
    
            height: 150vh; }

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    font-size: 1.5em;
    display: none;
    background-color: rgb(161, 141, 141);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: opacity 0.3s ease;
}

.menu {
    position: fixed;
    top: 40px;
    left: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}

.menu a {
    display: block;
    margin: 0px 0px;
    text-decoration: none;
    color: #a08c8c;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
    padding: 15px 40px;
    border-radius: 20px;
    border-bottom: 1px solid white;
}
.menu a:hover {
    background-color:#F2CB05;
    color: rgb(53, 51, 51);
}
.menu-toggle {
    position: fixed;
    top: 0px;
    left: 20px;
    background-color: transparent;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
.menu-toggle:focus {
    outline: none;
}
.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: #795a5a;
    transition: 0.4s;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    font-size: 1.5em;
    display: none;
    background-color: #BF9D36;
    color: black;
    border: 2px solid #2E578C;
    cursor: pointer;
    border-radius: 30px;
    transition: opacity 0.3s ease;
    transition: transform 0.3s, background-color 0.3s;
}
#topButton:hover {
    transform: scale(1.1);
    background-color: #ffffff;

}   

#topButton.show {
    display: block;
    opacity: 1;
}
#topButton.hide {
    opacity: 0;
}

#section2 h2 {
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2.4em;
     color: white;
     margin: 10px;

}

#section2 p {
      justify-content: center;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      word-wrap: break-word
}
#section3 h2 {
       text-align: center;
       justify-content: center;
       font-size: 2.4em;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section4 h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4em;
    color: white;


}
.container {
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-container, .rectangle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.circle {
    background-color: #BF9D36;
    color: #2E578C;
    border: 2px solid #2E578C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}
.circle:hover {
    transform: scale(1.1);
    background-color: #ffffff;
}
.rectangle {
    background-color: #ffffff;
    color: #2E578C;
    border: 2px solid #2E578C;
    width: 200px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0px 1px ;
    font-family: Arial, Helvetica, sans-serif;
}
.rectangle:hover {
    transform: scale(1.05);
    background-color: #D0AC47;
}


button {
    display: block;
    width: auto;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #fab700;
    color: white;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subtopic img {
    float: left;
    margin-right: 10px;
    max-width: 90px;
}

.container img {
    float: left;
    margin-right: 10px;
    max-width: 90px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.2em;
    padding: 2px;
    margin: auto;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}
.footer a {
    color: #4CAF50;
    margin: 0 10px;
    text-decoration: none;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    background-color: #2E578C;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px #fab700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.links h2 {
    font-size: 20px;
    margin-bottom: 30px;

}

.link-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.links p {
    margin: 0;
}

.links a {
    text-decoration: none;
    color: rgb(234, 234, 240);
    padding: 5px 10px;
    border: 1px solid #2E578C;
    border-radius: 4px;
    transition: background-color 1s;
}

.links a:hover {
    background-color: #fab700;
}

.back-button {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.back-button:hover {
    background-color: #fab700;
    transition: 0,3s;
}

